:root{
    --DarkCyan: hsl(158, 36%, 37%);
    --color0:rgb(210, 243, 217);
    --color1:rgb(183, 218, 190);
    --color2:rgb(166, 206, 174);
    --veryDarkCyan: hsl(158, 36%, 27%);
    --Cream: hsl(30, 38%, 92%);
    --VeryDarkBlue: hsl(212, 21%, 14%);
    --DarkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --primary-font-size:2rem;
    --secondary-font-size:0.875rem;
    --small-font-size:0.75rem;
}
*,::before,::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    gap:1.5;
    line-height: 1.5;
    font-family: 'Tiro Gurmukhi', serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;
}
.antipist-logo{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2.5rem;
    font-weight: 700;
}
.title-1,.title-2,.title-3{
    padding:20px;
    font-size: 1.5rem;
    text-align: center;
}
.title-1{
    background-color: var(--color0);
}
.title-2{
    background-color: var(--color1);
}
.title-3{
    background-color: var(--color2);
}
footer{
    background-color: black;
    padding:20px;
    border-radius: 0 15px 0 0;
    color:white;
}